In [2]:
import numpy as np
import pandas as pd

In [21]:
data=pd.read_csv(r"F:\practice problems\intel\week1\LEMONTREE.csv")

In [22]:
df=pd.DataFrame(data)
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,LEMONTREE,EQ,09-Apr-2018,56.00,61.60,73.9,57.25,72.30,71.65,65.59,67619635,4.434900e+09,263630,13918070,20.58
1,LEMONTREE,EQ,10-Apr-2018,71.65,69.85,71.5,65.40,66.50,66.85,68.42,15217104,1.041159e+09,87183,3186294,20.94
2,LEMONTREE,EQ,11-Apr-2018,66.85,67.25,69.7,66.05,66.95,66.95,67.69,9094509,6.156216e+08,44895,2323539,25.55
3,LEMONTREE,EQ,12-Apr-2018,66.95,67.10,67.7,65.10,66.50,66.40,66.44,2408408,1.600220e+08,14777,681080,28.28
4,LEMONTREE,EQ,13-Apr-2018,66.40,66.70,68.2,66.50,67.60,67.70,67.56,2406014,1.625400e+08,20955,994028,41.31

In [23]:
df.drop(['Symbol','Series'],axis=1,inplace=True)

In [24]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,2.700000e+02,2.700000e+02,270.000000,2.700000e+02,270.000000
mean,73.334074,73.492778,75.029444,72.003704,73.345370,73.386852,73.514778,1.393379e+06,1.021104e+08,10985.466667,5.902910e+05,57.136889
std,4.911375,4.928247,5.054627,4.728424,4.779285,4.799706,4.824713,4.596066e+06,3.148433e+08,20024.024420,1.118621e+06,17.371453
min,56.000000,61.600000,63.850000,57.250000,63.500000,63.050000,62.770000,3.012500e+04,2.074837e+06,524.000000,2.366100e+04,14.350000
25%,69.512500,69.712500,70.950000,68.500000,69.512500,69.562500,69.795000,2.027925e+05,1.505937e+07,3201.500000,1.145660e+05,43.997500
50%,72.900000,73.025000,74.600000,71.500000,72.725000,72.900000,73.130000,4.207385e+05,3.126705e+07,5526.000000,2.440575e+05,56.075000
75%,76.612500,76.875000,78.537500,74.900000,76.650000,76.612500,76.927500,1.301775e+06,9.417218e+07,11901.000000,6.169290e+05,69.587500
max,87.900000,87.600000,90.900000,83.000000,87.300000,87.900000,86.390000,6.761964e+07,4.434900e+09,263630.000000,1.391807e+07,95.000000

In [25]:
df.tail(90)['Close Price'].max()

87.9

In [26]:
df.tail(90)['Close Price'].iloc[0:90].min()

66.9

In [27]:
df.tail(90)['Close Price'].iloc[0:90].mean()

74.68666666666665

In [28]:
df['Date']=pd.to_datetime(df['Date'])

In [29]:
df.head()

,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,2018-04-09,56.00,61.60,73.9,57.25,72.30,71.65,65.59,67619635,4.434900e+09,263630,13918070,20.58
1,2018-04-10,71.65,69.85,71.5,65.40,66.50,66.85,68.42,15217104,1.041159e+09,87183,3186294,20.94
2,2018-04-11,66.85,67.25,69.7,66.05,66.95,66.95,67.69,9094509,6.156216e+08,44895,2323539,25.55
3,2018-04-12,66.95,67.10,67.7,65.10,66.50,66.40,66.44,2408408,1.600220e+08,14777,681080,28.28
4,2018-04-13,66.40,66.70,68.2,66.50,67.60,67.70,67.56,2406014,1.625400e+08,20955,994028,41.31

In [30]:
df['Date'].max()-df['Date'].min()

Timedelta('399 days 00:00:00')

In [31]:
df['Month']=pd.DatetimeIndex(df['Date']).month
df['Year']=pd.DatetimeIndex(df['Date']).year
df.tail()

,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year
265,2019-05-07,72.95,72.8,74.60,72.5,72.70,72.90,73.49,233538,17161694.00,4634,141921,60.77,5,2019
266,2019-05-08,72.90,72.9,73.00,70.1,71.60,71.65,71.36,343907,24542401.80,7449,213025,61.94,5,2019
267,2019-05-09,71.65,71.0,71.85,70.0,71.45,71.25,70.69,219913,15546726.85,5133,119405,54.30,5,2019
268,2019-05-10,71.25,71.0,72.90,70.8,71.20,71.35,71.55,156657,11209038.05,1369,86735,55.37,5,2019
269,2019-05-13,71.35,71.0,71.30,70.0,70.40,70.25,70.40,152710,10750130.75,2235,78786,51.59,5,2019

In [36]:
df["vwap"]= (data['Close Price'] * data['Total Traded Quantity']).cumsum() / data['Total Traded Quantity'].fillna(0).cumsum()

data_vwap = df[['Month','Year',"vwap"]]
group = data_vwap.groupby(['Month','Year'])
group.first()

                 vwap
Month Year
1     2019  73.504211
2     2019  73.403721
3     2019  73.379301
4     2018  71.650000
      2019  74.228214
5     2018  73.797188
      2019  74.339562
6     2018  72.966526
7     2018  73.070215
8     2018  73.344417
9     2018  73.745367
10    2018  73.758637
11    2018  73.658231
12    2018  73.580463

In [38]:
def average(N):
    return (data['Average Price'].tail(N).sum())/N

In [40]:
def prof_loss(N):
    difference = (df['Close Price'].tail(N).iloc[N-1] - df['Close Price'].tail(N).iloc[0])
    if difference < 0 :
        loss = -(difference)
        loss_percen = (loss/data['Close Price'].tail(N).iloc[N-1])*100
        return loss_percen
    if difference > 0 :
        profit = difference
        profit_percen = (profit/data['Close Price'].tail(N).iloc[N-1])*100
        return profit_percen

In [41]:
print("Average prices for last N days are as follows:")
print(avg_price(5))
print(avg_price(10))
print(avg_price(20))
print(avg_price(60))
print(avg_price(120))
print(avg_price(240))

Average prices for last N days are as follows:
71.498
72.85499999999999
75.1555
77.24266666666664
73.64275
73.72129166666667

In [42]:
print("Loss/Profit percentage for last N days are as follows:")
print(prof_loss(5))
print(prof_loss(10))
print(prof_loss(20))
print(prof_loss(60))
print(prof_loss(120))
print(prof_loss(240))

Loss/Profit percentage for last N days are as follows:
3.7722419928825706
5.409252669039142
12.740213523131677
1.0676156583629894
2.41992882562278
5.551601423487552

In [44]:
df['Day_Perc_Change'] = df['Close Price'].pct_change().fillna(0)
df

,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,vwap,Day_Perc_Change
0,2018-04-09,56.00,61.60,73.90,57.25,72.30,71.65,65.59,67619635,4.434900e+09,263630,13918070,20.58,4,2018,71.650000,0.000000
1,2018-04-10,71.65,69.85,71.50,65.40,66.50,66.85,68.42,15217104,1.041159e+09,87183,3186294,20.94,4,2018,70.768240,-0.066992
2,2018-04-11,66.85,67.25,69.70,66.05,66.95,66.95,67.69,9094509,6.156216e+08,44895,2323539,25.55,4,2018,70.390512,0.001496
3,2018-04-12,66.95,67.10,67.70,65.10,66.50,66.40,66.44,2408408,1.600220e+08,14777,681080,28.28,4,2018,70.288638,-0.008215
4,2018-04-13,66.40,66.70,68.20,66.50,67.60,67.70,67.56,2406014,1.625400e+08,20955,994028,41.31,4,2018,70.224260,0.019578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,2019-05-07,72.95,72.80,74.60,72.50,72.70,72.90,73.49,233538,1.716169e+07,4634,141921,60.77,5,2019,74.338285,-0.000685
266,2019-05-08,72.90,72.90,73.00,70.10,71.60,71.65,71.36,343907,2.454240e+07,7449,213025,61.94,5,2019,74.335824,-0.017147
267,2019-05-09,71.65,71.00,71.85,70.00,71.45,71.25,70.69,219913,1.554673e+07,5133,119405,54.30,5,2019,74.334019,-0.005583
268,2019-05-10,71.25,71.00,72.90,70.80,71.20,71.35,71.55,156657,1.120904e+07,1369,86735,55.37,5,2019,74.332776,0.001404
269,2019-05-13,71.35,71.00,71.30,70.00,70.40,70.25,70.40,152710,1.075013e+07,2235,78786,51.59,5,2019,74.331119,-0.015417

In [49]:
def trends_calculation(data):
    if ((df['Day_Perc_Change'] >= -0.5) & (df['Day_Perc_Change'] <= 0.5)).all():
        df['Trend'] = 'Slight or No change'
    if ((df['Day_Perc_Change'] >= 0.5) & (df['Day_Perc_Change'] <= 1)).all():
        df['Trend'] = 'Slight positive'
    if ((df['Day_Perc_Change'] <= -0.5) & (df['Day_Perc_Change'] >= -1)).all():
        df['Trend'] = 'Slight negative'
    if ((df['Day_Perc_Change'] >= 1) & (df['Day_Perc_Change'] <= 3)).all():
        df['Trend'] = 'Positive' 
    if ((df['Day_Perc_Change'] <= -1) & (df['Day_Perc_Change'] >= -3)).all():
        df['Trend'] = 'Negative'
    if ((df['Day_Perc_Change'] >= 3) & (df['Day_Perc_Change'] <= 7)).all():
        df['Trend'] = 'Among top gainers'
    if ((df['Day_Perc_Change'] <= -3) & (df['Day_Perc_Change'] >= -7)).all():
        df['Trend'] = 'Among top losers'
    if (df['Day_Perc_Change'] > 7).all():
        df['Trend'] = 'Bull run' 
    if (df['Day_Perc_Change'] < -7).all():
        df['Trend'] = 'Bear drop'

In [50]:
trends_calculation(df)

In [51]:
df.groupby(df.Trend).mean()['Total Traded Quantity']
df.groupby(df.Trend).median()['Total Traded Quantity']

Trend
Slight or No change    420738.5
Name: Total Traded Quantity, dtype: float64

In [52]:
df.describe

<bound method NDFrame.describe of           Date  Prev Close  Open Price  High Price  Low Price  Last Price  \
0   2018-04-09       56.00       61.60       73.90      57.25       72.30
1   2018-04-10       71.65       69.85       71.50      65.40       66.50
2   2018-04-11       66.85       67.25       69.70      66.05       66.95
3   2018-04-12       66.95       67.10       67.70      65.10       66.50
4   2018-04-13       66.40       66.70       68.20      66.50       67.60
..         ...         ...         ...         ...        ...         ...
265 2019-05-07       72.95       72.80       74.60      72.50       72.70
266 2019-05-08       72.90       72.90       73.00      70.10       71.60
267 2019-05-09       71.65       71.00       71.85      70.00       71.45
268 2019-05-10       71.25       71.00       72.90      70.80       71.20
269 2019-05-13       71.35       71.00       71.30      70.00       70.40

     Close Price  Average Price  Total Traded Quantity      Turnover  \
0          71.65          65.59               67619635  4.434900e+09
1          66.85          68.42               15217104  1.041159e+09
2          66.95          67.69                9094509  6.156216e+08
3          66.40          66.44                2408408  1.600220e+08
4          67.70          67.56                2406014  1.625400e+08
..           ...            ...                    ...           ...
265        72.90          73.49                 233538  1.716169e+07
266        71.65          71.36                 343907  2.454240e+07
267        71.25          70.69                 219913  1.554673e+07
268        71.35          71.55                 156657  1.120904e+07
269        70.25          70.40                 152710  1.075013e+07

     No. of Trades  Deliverable Qty  % Dly Qt to Traded Qty  Month  Year  \
0           263630         13918070                   20.58      4  2018
1            87183          3186294                   20.94      4  2018
2            44895          2323539                   25.55      4  2018
3            14777           681080                   28.28      4  2018
4            20955           994028                   41.31      4  2018
..             ...              ...                     ...    ...   ...
265           4634           141921                   60.77      5  2019
266           7449           213025                   61.94      5  2019
267           5133           119405                   54.30      5  2019
268           1369            86735                   55.37      5  2019
269           2235            78786                   51.59      5  2019

          vwap  Day_Perc_Change                Trend
0    71.650000         0.000000  Slight or No change
1    70.768240        -0.066992  Slight or No change
2    70.390512         0.001496  Slight or No change
3    70.288638        -0.008215  Slight or No change
4    70.224260         0.019578  Slight or No change
..         ...              ...                  ...
265  74.338285        -0.000685  Slight or No change
266  74.335824        -0.017147  Slight or No change
267  74.334019        -0.005583  Slight or No change
268  74.332776         0.001404  Slight or No change
269  74.331119        -0.015417  Slight or No change

[270 rows x 18 columns]>

In [53]:
df.to_csv('week1.csv')